<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>

    <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
    <h3>Welcome to the Awesome application</h3>

    <div>
      <div style='display:inline-block;padding:10px;'>
        <img id="home" height='75px' width='75px' /> 
      </div>
      <div class="settingIcon"></div>
    </div>

    <img id="frontImg" height="150px" width="70%" style="margin:0 auto;"/>

    <my-app></my-app>
    
  </body>
</html>