<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <h1><%= htmlWebpackPlugin.options.myPageHeader %></h1>
    Some more static content added to html
    <my-app></my-app>
    <img id="appLogo" height="150" width="150" src='images/jsLogo.jpeg' />
    <img id="webpackLogo" height="150" width="150" src='images/webpackLogo.png' />

    <div>
      Div content to verify the style for div tag specified in app.css
    </div>

    <div class="bg-img"></div>
  </body>
</html>